
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
}
.holder .item{
	background-color:blue;
	color:white;
	margin:20px;
	width:60px;
	height:60px;
}